body {
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(#D0D0D0, #808080);
  text-align: center;
}
.product, #results {
  border-radius: 5px;
  box-shadow: 0 2px 5px #666;
  margin: 1.5%;
}

.product {
  display: inline-block;
  width: 25vmin;
  height: 25vmin;
  background-position:center;
  background-size: 100%;
  background-repeat:no-repeat;
}

#results {
  max-width: 85vw;
  margin: auto;
  margin-bottom: 5%;
  text-align: center;
  background: linear-gradient(#EBEBEB,#DFDFDF);
  padding: 15px;
}

.result {
  font-family: 'Roboto', sans-serif;
  margin: 1%;
}
